# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Mac
.DS_Store

# java
*.class
*.jar
*.war
*.ear

# pytest
__pycache__
.pytest_cache

# build
build/
builds/
target/

# eclipse
.settings/
.metadata/

# JetBrains
.idea/
*.iml

# backup files
*.bak
*.backup

# local env files
.env*.local
.env

# claude
.claude/
.prompt-*.md
.prompt.md
prompt-*.md
prompt.md

# kiro
.kiro/specs/

# Node.js
node_modules/
package-lock.json

# Electron
coverage/
dist/
out/
*.dmg
*.app
